@charset "UTF-8";
/* CSS Document */

/*		ACTUEL		*/
.smtmeteo_divtitle {
	font-size:12px;
	font-weight:bold;	
}
.smtmeteo_actuel_pictodiv {
	width:20%;
	float:left;
	text-align:center;	
}
.smtmeteo_actuel_tempdiv {
	width:25%;
	float:left;	
}
.smtmeteo_actuel_tempmain {
	font-size:25px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.smtmeteo_actu_tempmin {
	color:#0099CC;	
}
.smtmeteo_actu_tempmax {
	color:#FF3333;	
}
.smtmeteo_actuel_mesurdiv {
	width:25%;
	float:left;	
}
.smtmeteo_mesur {
	font-size:12px;	
}
.smtmeteo_actuel_ventdiv {
	width:25%;
	float:left;	
}
.smtmeteo_actuel_timestamp {
	font-style:italic;
	font-size:11px;
	color:#999999;	
}
.smtmeteo_prevline_maindiv {
	
}
.smtmeteo_prevline_date {
	font-size:26px;
	font-weight:bold;
	line-height:120%;
}
.smtmeteo_prevline_datediv {
	float:left;
	margin:2px;
	padding:1px;
	text-align:center;
	clear: both;
}
.smtmeteo_prevline_weekday {
	font-size:11px;
	color:#999999;	
}
.smtmeteo_prevline_qdate {
	font-size:20px;
	font-weight:bold;
	line-height:120%;
}
.smtmeteo_prevline_qdatediv {
	float:left;
	margin:1px;
	padding:1px;
	text-align:center;
	clear: both;
}
.smtmeteo_prevline_qweekday {
	font-size:11px;
	color:#999999;	
}
.smtmeteo_prevline_timediv {
	float:left;	
	margin:2px;
	padding:1px;
	border:#006699 solid 1px;
	border-radius:5px;
}
.smtmeteo_prevline_daydiv {
	float:left;	
	margin:2px;
	padding:1px;
	border:#006699 solid 1px;
	border-radius:5px;
}
.smtmeteo_prevline_timedivfree {
	float:left;	
	margin:3px;
	padding:1px;
	border-radius:5px;
}
.smtmeteo_prevline_timefr {
	font-size:11px;
	font-weight:bold;
	text-align:center;
}
.smtmeteo_prevline_temp {
	font-size:12px;	
}
.smtmeteo_prevline_cesjours {
	font-size:11px;
	font-style:italic;
	color:#006699;	
}
.smtmeteo_prevline_monab {
	font-size:12px;
	font-weight:bold;
	color:#990000;	
}
.smtmeteo_prev5_maintable {
	width:100%;	
}
.smtmeteo_prev5_prevline {
	width:100%;	
}
.smtmeteo_prev5_date {
	width:18%;
	text-align:center;
}
.smtmeteo_prev5_iconheader {
	margin:0px;	
}
.smtmeteo_prev5_backline_a {
	font-size:10px;
	border:none;	
}
.smtmeteo_prev5_backline_b {
	font-size:10px;
	border:none;	
}
.smtmeteo_footer {
	background-color:#F4F2FF;
	margin:5px;
	border-radius:5px;
	font-size:11px;	
}
/*	Widgets	*/
.smtmeteo_widget_maindiv {
		
}
.smtmeteo_widget_tempmain {
	font-size:18px;
	font-weight:bold;	
}
.smtmeteo_widget_tempminmax {
	font-size:11px;
}
.smtmeteo_widget_tempmin {
	color:#0099CC;	
}
.smtmeteo_widget_tempmax {
	color:#FF3333;	
}
.smtmeteo_widget_mesures {
	font-size:11px;
	line-height:11px;	
}
.smtmeteo_widget_lienpagediv {
	font-size:11px;
}
.smtmeteo_prev5_tdprev {
	padding-bottom:10px;	
}
/*	lien plugin smt */
#smtlink_to_plugin {
	text-align:center;
	padding:5px;
	font-size:10px;	
}
/*	Admin Panel		*/
.smtmeteo_admin_col1 {
	float:left;
	width:48%;
	margin-right:20px;
}
.smtmeteo_admin_col2 {
	float:left;
	width:48%;
}